#header, #footer {
    background-color: whitesmoke;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 1.5rem;
}

#header {
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 1.5rem;
}